.blaze-orange {
    color: #FF5B00;
}

.red-beech {
    color: #7B3000;
}

.cod-gray {
    color: #151515;
}

.bg-blaze-orange {
    color: #FF5B00;
}

.bg-wild-sand {
    background-color: #F4F4F4;
}