@media screen and (min-width: 900px) and (max-width: 1240px) {
    .order-card-top {
        flex-direction: column;
    }

    .order-card-top-heading {
        margin-top: 2%;
    }

    .order-card-input {
        flex-direction: column;
    }

    .order-card-value {
        margin: 20px 0;
    }
}

@media screen and (max-width: 900px) {
    #order-main {
        background-size: 35% !important;
    }

    .order-menu-items {
        flex-direction: column !important;
        align-items: center;
        justify-content: center !important;
    }

    .order-card {
        width: 70% !important;
        margin-top: 15%;
    }
}

@media screen and (max-width: 600px) {
    .order-card-top {
        flex-direction: column;
    }

    .order-card-top-heading {
        margin-top: 2%;
    }

    .order-card-input {
        flex-direction: column;
    }

    .order-card-value {
        margin: 20px 0;
    }
}